.container{
	background-color: lightblue;

{

.grid-container{
	display: grid;
	background-color: lightblue;

}
.image-container{
	position: relative;
	display: inline-grid;

}









